@media (min-width: 992px) {
  .header-right-div {
    text-align: center;
    padding: 2em;
    left: calc(50% - 4rem);
    top: 4rem;
    transform: translate(30%);
    width: 40%;
  }
}

@media (min-width: 768px) {
  .header-right-div {
    text-align: center;
    padding: 2em;
    left: calc(50% - 0rem);
    top: 6rem;
    transform: translate(30%);
    width: 33%;
  }
}

@media (min-width: 1200px) {
  .header-right-div {
    text-align: center;
    padding: 0 9vh;
    left: calc(50% - 3rem);
    top: 4rem;
    transform: translate(30%);
    width: 40%;
  }
}

@media (min-width: 1400px) {
  .header-right-div {
    text-align: center;
    padding: 0 11vh;
    left: 50%;
    top: 4rem;
    transform: translate(30%);
    width: 36%;
  }
}

@media (max-width: 992px) {
  .header-right-div {
    text-align: center;
  }
}

.phone-image {
  max-width: 30%;
  border-radius: 100%;
}

body {
  background-color: #f7f7f7;
}

.fill2-button {
  background: #ff0049;
  /*border-color: #ff0049;*/
  border: none;
  border-radius: 10px;
  height: 3rem;
  padding: 0 2rem;
  color: #ffffff;
}

.fill2-button:focus {
  background: #e30088;
  /*border-color: #ff0049;*/
  border: none;
  color: #ffffff;
}

.login-button {
  border-color: #ff0049;
  border-style: solid;
  color: #ff0049;
  text-decoration: none;
  background: rgba(255,255,255,0);
}

.headerform input {
  height: 3.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.headerform {
  margin-top: 0rem;
}

.headerbuttons .btn {
  border-radius: 15px;
  width: 100%;
  height: 3rem;
  font-family: 'Gilroy-Bold ☞';
}

@media (min-width: 768px) {
  .animatedd {
    max-width: 73%;
    height: 5rem;
    margin: auto;
    background-color: rgba(242,244,248,0);
    border-radius: 2rem;
    display: grid;
    align-items: center;
    position: relative;
    border-style: solid;
    border-color: #ff0099;
    border-width: 2px;
  }
}

@media (min-width: 992px) {
  .animatedd {
    max-width: 60%;
    height: 5rem;
    margin: auto;
    background-color: rgba(242,244,248,0);
    border-radius: 2rem;
    display: grid;
    align-items: center;
    position: relative;
    border-style: solid;
    border-color: #ff0099;
    border-width: 2px;
  }
}

@media (max-width: 768px) {
  .animatedd {
    max-width: 95%;
    height: 3.5rem;
    margin: auto;
    background-color: rgba(242,244,248,0);
    border-radius: 21px;
    display: grid;
    align-items: center;
    position: relative;
    border-style: solid;
    border-color: #ff0099;
    border-width: 2px;
    padding-top: .2em;
  }
}

@media (min-width: 768x) {
  .headerform {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .log-reg-nav {
    margin-top: 2rem;
  }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #ff0049;
  background-color: rgba(255,255,255,0);
  border-color: #dee2e6 #dee2e6 #fff;
  position: relative!important;
  font-family: 'Gilroy-Bold ☞';
  border: none;
}

@media (max-width: 576px) {
  .linkler .link {
    font-family: 'Gilroy-Light ☞';
    /*margin-left: 2.2rem;*/
    font-size: .7rem;
  }
}

@media (min-width: 576px) {
  .linkler .link {
    font-family: 'Gilroy-Light ☞';
    /*margin-left: 2.2rem;*/
    font-size: .8rem;
  }
}

.linkler .fiyat {
  font-family: 'Gilroy-Bold ☞';
  /*margin-left: 2.2rem;*/
  font-size: 1rem;
}

@media (max-width: 576px) {
  .linkler .linkbaslik {
    font-family: 'Gilroy-Bold ☞';
    font-size: 1rem;
  }
}

@media (min-width: 576px) {
  .linkler .linkbaslik {
    font-family: 'Gilroy-Bold ☞';
    font-size: 1.2rem;
  }
}

.linklersecenek {
  margin: 0;
}

.duzenleme {
  margin-left: .5rem;
  font-size: .8rem;
  color: #959595;
}

.siralama .linkler li, .drag-item {
  background: #EBEEF3;
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: 'Gilroy-Bold ☞';
  border-radius: 1rem;
  display: grid;
  color: #444444;
  position: relative;
  cursor: move;
}

@media (min-width: 576px) {
  .linkler .more {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: #db2828;
  }
}

@media (max-width: 576px) {
  .linkler .more {
    position: absolute;
    right: .5rem;
    top: .5rem;
    color: #db2828;
  }
}

.linkler {
  padding: 0;
  /*margin-top: 1rem;*/
  margin-left: 0;
}

.createpage .nav-tabs .nav-item.show .nav-link::after, .createpage .nav-tabs .nav-link.active::after, .pricingpage .nav-tabs .nav-item.show .nav-link::after, .pricingpage .nav-tabs .nav-link.active::after {
  content: "";
  width: 7px;
  height: 7px;
  background-color: #ff0049;
  display: inherit;
  top: 4px;
  position: absolute;
  right: 4px;
  border-radius: 1rem;
}

.onizleme {
  min-width: 100%;
  /*padding-bottom: 177.77%;*/
  border-width: 4px;
  border-style: solid;
  border-radius: 22px;
  border-color: #1c1d25;
  /*position: relative;*/
}

.apperance .profileimage {
  max-width: 6rem;
}

.apperance .row {
  margin: 1rem 0;
}

.apperance .btn-group-vertical button {
  margin-bottom: 1rem;
}

.forprofileimage button {
  width: 100%;
  border-radius: 10px;
  border: none;
  font-family: 'Gilroy-Bold ☞';
}

.pick {
  margin-bottom: 1rem;
}

.pick:active, .pick:focus {
  background-color: #cb003a;
}

.pick {
  background-color: #ff0049;
}

.pick:hover {
  background-color: #cb003a;
}

.apperance .bolum {
  margin-bottom: 2rem;
}

.remove {
  background-color: #eff4fa;
  color: #555555;
}

@media (max-width: 576px) {
  img, svg {
    vertical-align: middle;
  }
}

.themes.backgrounds [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.backgrounds [type=radio]:checked + img, .templates [type=radio]:checked + img {
  border: 3px solid rgb(255,0,73);
  transition-duration: .1s;
}

.backgrounds [type=radio] + img, .templates [type=radio] + img {
  cursor: pointer;
  border-radius: 15px;
}

[type=radio] + img {
  cursor: pointer;
}

.themes .theme-name {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: .5rem;
  font-family: 'Gilroy-Bold ☞';
}

@media (max-width: 768px) {
  .onizlemecol {
    display: none;
  }
}

.collapse {
  transition-duration: 5s;
}

.sosyalmedya-baglantilar .form-control {
  border-width: 0 0 1px 0;
  border-radius: 0;
  margin-bottom: 1rem;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 1rem;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 1rem;
  overflow-anchor: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}

.accordion-item:last-of-type {
  border-radius: 1rem;
}

@media (prefers-reduced-motion:reduce) {
  .accordion-button::after {
    transition: .5s;
  }
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 1rem;
}

.profilbilgileri .form-control:focus {
  color: #212529;
  background: #ffffff!important;
  outline: 0;
  box-shadow: none;
  border-color: #ced4da;
}

.profilbilgileri .form-control {
  color: #212529;
  background: #ffffff!important;
  outline: 0;
  box-shadow: none;
  border-color: #ced4da;
}

.premiumbadge::after {
  width: 48px;
  height: 22px;
  background-color: #ff0049;
  content: "PRO";
  display: inherit;
  position: absolute;
  text-align: center;
  color: #f2f4f8;
  border-radius: 6px;
  top: 15px;
  z-index: 99999;
  right: 10px;
  font-family: 'Gilroy-Bold ☞';
}

.premiumbadgeintext {
  /*width: 48px;*/
  /*height: 21px;*/
  background-color: #ff0049!important;
  /*content: "PRO";*/
  /*display: inherit;*/
  /*position: absolute;*/
  text-align: center;
  color: #f2f4f8;
  border-radius: 6px;
  /*top: 15px;*/
  z-index: 99999;
  /*right: 10px;*/
  font-family: 'Gilroy-Light ☞';
}

.themeselect {
  position: relative;
}

.apperance_kisim {
  margin-bottom: 2rem;
}

.personal-links li {
  margin-bottom: 1.5rem;
}

.onizleme .personal-links li {
  margin-bottom: .5rem;
}

.linkbox {
  /*height: 4rem;*/
  display: grid;
  align-items: center;
  border-style: solid;
  font-size: 1.1rem;
  position: relative;
  padding: 14px 0;
  width: 100%;
}

.onizlemecontent .linkbox {
  padding: 13px 0;
  display: grid;
  align-items: center;
  border-style: solid;
  /*height: auto;*/
  width: 100%;
}

.navbar-profile {
  max-width: 50px;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .4em solid;
  border-right: .4em solid transparent;
  border-bottom: 0;
  border-left: .4em solid transparent;
}

.aboneliktabs .nav-link {
  color: #000000;
  font-family: 'Gilroy-Medium ☞';
}

.pricingplan .col .neumorphic.onecikan {
  background: linear-gradient(49deg, #ff0049, #ff00d6);
}

.onecikan .price {
  color: #ffffff;
}

.pricingplan .onecikan li {
  color: #ffffff;
}

.onecikan .planisec button {
  background: #ffffff!important;
  color: #000000;
}

.pricingplan .onecikan svg {
  color: #ffffff;
}

.pricingplan .neumorphic:hover {
  transform: translateY(-10px);
  box-shadow: 6px 10px 30px rgba(174,174,192,0.2), -6px -10px 30px #FFFFFF;
  transition-duration: .5s;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border: none;
  isolation: isolate;
  font-family: 'Gilroy-Bold ☞';
}

.linklersecenek .btn {
  border-radius: 15px;
  height: 2.6rem;
}

.siralama .nav-link {
  border: none;
  color: #000000;
  font-family: 'Gilroy-Medium ☞';
}

@media (min-width: 768px) {
  .mockupblock {
    height: 2.5rem;
    background: #dcdcdc;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .mockupblock {
    height: 2rem;
    background: #e8e8e8;
    border-radius: 10px;
    margin-bottom: .7rem;
  }
}

@media (min-width: 768px) {
  .floating.mockupscards {
    width: 30%;
  }
}

@media (max-width: 992px) {
  .headerleftdiv {
    margin-bottom: 2rem;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f2f4f8;
  background-clip: padding-box;
  border: 1px solid #f2f4f8;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 10px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.logregform .form-control {
  height: 45px;
}

.logregform h6 {
  font-family: 'Gilroy-Bold ☞';
}

.logregform .inputdiv {
  margin-bottom: 1rem;
}

.logregform {
  max-width: 100%;
  margin: auto;
}

.purplebutton {
  background: linear-gradient(-144deg, #ff0049, #ff0099);
  font-family: 'Gilroy-Bold ☞';
  box-shadow: 0px 11px 20px rgba(255,54,163,0.25);
  border: none;
  border-radius: 10px;
  height: 45px;
}

@media (min-width: 768px) {
  .aboneliktabs {
    max-width: 50%;
  }
}

.anasayfakisim {
  margin-bottom: 4rem;
}

.anasayfakisim:last-child {
  margin-bottom: 0rem;
  padding-bottom: 1rem;
}

.features .col {
  margin-bottom: 2rem;
  padding: 2rem;
  /*scrollbar-width: hidden;*/
}

.features .baslik {
  text-align: center;
  font-family: 'Gilroy-Medium ☞';
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: 40px;
}

.features p {
  text-align: center;
  font-size: 1.1rem;
}

.buttonstyle .col {
  margin-bottom: 1rem;
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --button-color: #ffffff;
  --button-text: #000000;
  --adsoyad-color: #ffffff;
  --bs-primary-rgb: 13,110,253;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 25,135,84;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 255,193,7;
  --bs-danger-rgb: 220,53,69;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-color-rgb: 33,37,41;
  --bs-body-bg-rgb: 255,255,255;
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

@media (max-width: 768px) {
  .anasayfaheading {
    font-weight: 800;
    margin-bottom: 1rem;
    font-family: 'Gilroy-Bold ☞';
    line-height: 40px;
  }
}

@media (min-width: 768px) {
  .anasayfaheading {
    font-weight: 800;
    margin-bottom: 1rem;
    font-family: 'Gilroy-Bold ☞';
    line-height: 54px;
  }
}

@media (min-width: 992px) {
  .anasayfaphonecol {
    max-width: 45%;
  }
}

.doodle1 {
  position: absolute;
  width: 2.5rem;
  left: -2.5rem;
  top: -1.5rem;
}

@media (max-width: 576px) {
  .doodle1 {
    display: none;
  }
}

.doodle2 {
  position: absolute;
  width: 2rem;
  left: 14.5rem;
  top: -1.5rem;
}

@media (min-width: 500px) {
  .doodle2_1 {
    position: absolute;
    width: 2rem;
    right: 10%;
    top: -1rem;
  }
}

@media (max-width: 500px) {
  .doodle2_1 {
    position: absolute;
    width: 2rem;
    right: -22px;
    top: -1rem;
  }
}

@media (min-width: 576px) {
  .doodle2 {
    display: none;
  }
}

@media (min-width: 576px) {
  .doodle2_1 {
    display: none;
  }
}

@media (min-width: 1000px) {
  .whatsappfloating {
    position: absolute;
    left: 37%;
    top: 23%;
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .whatsappfloating {
    position: absolute;
    left: 36%;
    top: 23%;
    font-size: 2.5rem;
  }
}

@media (min-width: 576px) {
  .whatsappfloating {
    position: absolute;
    left: 35%;
    top: 22%;
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .whatsappfloating {
    position: absolute;
    left: 35%;
    top: 25%;
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .snapchatfloating {
    position: absolute;
    font-size: 3rem;
    color: #ffffff;
    right: 35%;
    top: 20%;
    transform: rotate(14deg);
  }
}

@media (max-width: 992px) {
  .snapchatfloating {
    position: absolute;
    font-size: 2rem;
    color: #ffffff;
    right: 34%;
    top: 22%;
    transform: rotate(14deg);
  }
}

.formbolum {
  margin-bottom: 1rem;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(255,255,255,0);
  border-radius: 1rem;
  outline: 0;
}

.anasayfakisim .aciklama {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  color: #3c3e4d;
}

@media (min-width: 768px) {
  .nav-item {
    margin-right: 2rem;
  }
}

.supp {
  position: absolute;
  top: 0.4rem;
  font-size: 1rem;
  font-family: 'Gilroy-Bold ☞';
}

.supp.artis {
  color: #34c576;
}

.ozetcol:last-child {
  border-width: 0 0px 0 0;
  border-style: solid;
  border-color: #dee2e6;
}

.ozetcol {
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #dee2e6;
}

.ozetsayi {
  text-align: center;
  font-family: 'Gilroy-Bold ☞';
  margin-bottom: 0;
  font-size: 2rem;
  position: relative;
  color: #454d65;
}

@media (min-width: 768px) {
  .ozetbaslik {
    text-align: center;
    font-family: 'Gilroy-Bold ☞';
    color: #87a2bd;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 18px;
  }
}

@media (max-width: 768px) {
  .ozetbaslik {
    text-align: center;
    font-family: 'Gilroy-Bold ☞';
    color: #87a2bd;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
  }
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.03)!important;
}

.col.ozetcol div {
  margin: .5rem 0;
}

.aktifhizmetcol .hizmetbaslik {
  text-decoration: none;
  color: #212529;
  font-family: 'Gilroy-Bold ☞';
  line-height: 19px;
}

.aktifhizmetcol .hizmetbaslik:hover {
  text-decoration: underline;
  color: #212529;
  font-family: 'Gilroy-Bold ☞';
  line-height: 19px;
}

.hizmetbaglanti {
  font-size: .8rem;
  color: #454d64;
  text-decoration: none;
}

.hizmetbaglanti:hover {
  text-decoration: underline;
  color: #454d64;
}

.aktifhizmetcol .hizmetblok {
  margin-bottom: 1.5rem;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1rem 0 1rem 1rem;
  border-radius: 10px;
  height: 4rem;
  position: relative;
}

.aktifhizmetcol .hizmetblok:last-child {
  margin-bottom: 0;
}

.baglantilarbloktools {
  position: absolute;
  right: 1rem;
  display: flex;
  /*width: 4rem;*/
  top: calc(50% - 13px);
}

.baglantilarblokgoruntulenme {
  color: #aaaaaa;
  font-size: 1.1rem;
}

.baglantilarblokedit {
  font-size: 1rem;
  /*padding: .25rem;*/
  /*background: #cccccc;*/
  color: #aaaaaa;
  /*border-radius: 50%;*/
  margin-left: 7px;
}

.baglantilarblokbiolinkicon {
  font-size: 2rem;
  padding: .25rem;
  background: #ff0049;
  color: #ffffff;
  border-radius: 50%;
  margin-right: 16px;
}

.baglantilarblokurlicon {
  font-size: 2rem;
  padding: .25rem;
  background: #00cec4;
  color: #ffffff;
  border-radius: 50%;
  margin-right: 16px;
}

.baglantilarblokqricon {
  font-size: 2rem;
  padding: .25rem;
  background: #313437;
  color: #ffffff;
  border-radius: 50%;
  margin-right: 16px;
}

.basliklogo {
  margin-right: 1rem;
}

@media (min-width: 576px) {
  .mediaitem .link {
    margin-left: 2.2rem;
  }
}

@media (min-width: 576px) {
  .mediaitem .fiyat {
    margin-left: 2.2rem;
  }
}

.basliklogo.youtubeicon {
  color: #ff0000;
}

.basliklogo.speaker {
  color: #fb9700;
}

.basliklogo.linkicon {
  color: var(--bs-blue);
}

.basliklogo.cash, .urunbox .cash {
  color: #399d0a;
}

.basliklogo.baslikicon {
  color: #000000;
}

.duzenleme:hover, .linkler .more {
  cursor: pointer;
}

.fiyat .fiyatbilgisi {
  font-family: 'Gilroy-Light ☞';
}

.onizlemecontent::-webkit-scrollbar {
  display: none;
}

.onizlemecontent {
  position: absolute;
  width: 100%;
  height: calc(100% - 2px);
  overflow-y: scroll;
  padding: 2rem .4rem 1rem .4rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
  text-align: center;
}

.onizlemeblok.avatarblok > img {
  max-width: 4rem;
  border-radius: 100%;
}

.onizlemeblok {
  margin-bottom: .5rem;
}

.enboyoranısaglayici {
  padding-bottom: 200%;
  position: relative;
}

.onizlemename {
  margin-right: 6px;
  font-family: 'Gilroy-Bold ☞';
}

.onizlemesurname {
  font-family: 'Gilroy-Bold ☞';
}

.onizlemecontent .adsoyad {
  color: var(--adsoyad-color);
  margin-bottom: 0;
}

.gradienttext {
  background-image: linear-gradient(-144deg, #ff0049, #ff0099);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  color: RGBA(255, 255, 255, 0);
}

#personalpage .username {
  font-family: 'Gilroy-Bold ☞';
  font-size: 1.1rem;
  margin-bottom: 0;
}

#personalpage .container {
  max-width: 800px;
  padding-top: 3rem;
  min-height: 100vh;
  text-align: center;
  scrollbar-width: thin;
  ms-scrollbar-width: thin;
  margin-bottom: 5rem;
}

.linkbox.button1-fill {
  background-color: var(--button-color);
  border-color: var(--button-color);
  color: var(--button-text);
}

.linkbox.button2-fill {
  background-color: var(--button-color);
  border-color: var(--button-color);
  color: var(--button-text);
  border-radius: 15px;
}

.linkbox.button2-outline {
  background-color: rgba(255,255,255,0);
  border-color: var(--button-color);
  color: var(--button-text);
  border-radius: 15px;
}

.linkbox.button3-fill {
  background-color: var(--button-color);
  border-color: var(--button-color);
  color: var(--button-text);
  border-radius: 40px;
}

.linkbox.button4-fill {
  background-color: var(--button-color);
  border-color: var(--button-color);
  color: var(--button-text);
  border-radius: 40px 0px 0 40px;
}

.font-color {
  padding-top: .2rem;
}

.linkbox.button3-fill.youtubecol #youtube-iframe, .linkbox.button3-fill.youtubecol .youtube-thumb {
  /*border-radius: 20px;*/
}

.linkbox.youtubecol {
  padding-bottom: calc(56.25% + 12px);
  position: relative;
}

.onizlemecontent .linkbox.youtubecol {
  padding-bottom: calc(56.25% + 8px);
  position: relative;
}

.onizlemecontent .linkbox .linkboxbaslik, .onizlemecontent .linkbox p {
  text-align: center;
  text-decoration: initial;
  margin-bottom: 0;
  font-family: 'Gilroy-Light ☞';
  font-size: .8rem;
}

.linkbox .linkboxbaslik, .onizlemecontent .linkbox {
  text-align: center;
  text-decoration: initial;
  margin-bottom: 0;
  font-family: 'Gilroy-Light ☞';
  font-size: 1.1rem;
}

.linkeklemeformu .fill2-button {
  /*width: 100%;*/
}

.accordion-button:not(.collapsed) {
  color: #0c63e4;
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0);
}

.neumorphic {
  box-shadow: 6px 6px 16px rgba(174,174,192,0.2), -6px -6px 16px #FFFFFF;
}

.tepebaglantilardiv {
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem;
  font-size: 1.1rem;
  align-content: center;
  justify-items: center;
  align-items: center;
  padding: 0.2rem 0rem;
}

.onizlemecontent .tepebaglantilardiv {
  font-size: .8rem;
}

.onizleme {
  box-shadow: 27px 27px 50px rgba(174,174,192,0.4);
}

.custom-file-upload {
  width: 100%;
  margin-bottom: 0;
  height: 36px;
  background-color: #ff0049;
  border-radius: 10px;
  text-align: center;
  font-family: 'Gilroy-Bold ☞';
  display: grid;
  align-items: center;
  color: #ffffff;
  margin-bottom: .5rem;
}

.custom-file-upload:hover {
  background-color: #cf003b;
  cursor: pointer;
}

@media (max-width: 576px) {
  .profilbilgileri {
    margin-top: 2rem;
    padding: 0 0rem;
  }
}

@media (min-width: 992px) {
  .onizlemepadding {
    padding: 2rem 10%;
    align-items: top;
    position: relative;
  }
}

@media (min-width: 1200px) {
  .onizlemepadding {
    padding: 2rem 6vw;
    align-items: top;
    position: relative;
  }
}

@media (min-height: 800px) and (min-width: 1200px) {
  .onizlemepadding {
    padding: 6rem 4vh 0 4vh!important;
    align-items: top;
    position: relative;
  }
}

@media (max-width: 992px) {
  .onizlemepadding {
    padding: 2rem 2%;
    align-items: top;
    position: relative;
  }
}

.fab-options {
}

.bioaciklama {
  font-size: 1rem;
  color: var(--adsoyad-color);
}

.header-right-div {
  position: fixed;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
  scrollbar-width: thin;
  ms-scrollbar-width: thin;
}

.linkbox.button2-fill.audiobox {
  height: 5.5rem;
  position: relative;
  padding-top: 10px;
  padding-bottom: 0;
  display: grid;
  align-items: start;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4a4a4a;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 0px solid #ced4da;
  border-radius: .25rem;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(13,110,253,.25);
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: .25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0,0,0,.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.kaydıracli {
  margin: 0 0 3rem 0;
}

@media (min-width: 992px) {
  .kaydıracli {
  }
}

.baglantilarbloktools .goruntulenmesayisidiv {
  height: 26px;
  align-items: center;
  /*background-color: #ccc;*/
  padding: 0 0px;
  position: relative;
}

.baglantilarbloktools .goruntulenmesayisidiv:hover {
  cursor: pointer;
}

.baglantilarblok {
}

.goruntulenmesayisidiv .eye {
  margin-right: .3rem;
}

.goruntulenmesayisidata {
  font-size: .8rem;
  font-family: 'Gilroy-Bold ☞';
}

.goruntulenmesayisi {
  top: -1.5rem;
  display: inline-flex;
  align-items: center;
  font-family: 'Gilroy-Light ☞';
  padding: .2rem .3rem;
  left: -.5rem;
  background-color: #e4e4e4;
  color: #4f4f4f;
  border-radius: 7px;
}

.onizlemecontent .tepebaglantilar {
  color: var(--adsoyad-color);
  text-decoration: none;
  margin: 0 0.3rem;
  align-items: center;
  display: grid;
}

.tepebaglantilar {
  color: var(--adsoyad-color);
  text-decoration: none;
  margin: 0 .5rem;
  align-items: center;
  display: grid;
}

#accordion-1 .accordion-button {
  background-color: #fbfbfb!important;
}

#accordion-1 .accordion-item, #accordion-1 .accordion-collapse.collapse, #accordion-1 .accordion-header {
  background-color: rgba(255,255,255,0)!important;
  box-shadow: none;
}

.linkeklemeformu .form-control {
  background-color: #e7e7e7;
}

@media (min-width: 768px) {
  .anasayfakisim .aciklama {
    max-width: 60%;
  }
}

.whatsappfloating {
  color: #ffffff;
  transform: rotate(-16deg);
}

.onizlemecontent .linkbox.youtubebox {
  border: none;
}

.linkbox.button3-fill.youtubecol {
  border-radius: 30px 30px 0 0;
}

.linkbox.youtubecol h6 {
  padding: .5rem 0;
  margin-bottom: 0;
}

.linkbox .audio {
  width: 100%;
  position: absolute;
  border-radius: 20px;
}

.onizlemecontent .linkbox.audiobox {
  height: 5.5rem;
  position: relative;
  padding-top: 10px;
  padding-bottom: 0;
  display: grid;
  align-items: start;
}

.linkbox.button3-fill.audiobox {
  border-radius: 30px;
}

.onizlemecontent .linkboxbaslik.fiyatı {
  font-size: 1rem;
  font-family: 'Gilroy-Bold ☞';
}

.linkboxbaslik .fiyatı {
  font-family: 'Gilroy-Bold ☞';
}

.onizlemecontent .linkboxbaslik.baslikk {
  font-family: 'Gilroy-Bold ☞';
  font-size: 1rem;
}

.urunbox .alisverisicon {
  position: absolute;
  top: .5rem;
  left: .5rem;
  color: var(--bs-success);
}

.urunbox .cash {
  position: absolute;
  top: 13px;
  left: .5rem;
}

.buttonplus {
  position: absolute;
  left: 1rem;
  top: calc(51% - 8px);
}

.linkeklemeformu .btn {
  font-family: 'Gilroy-Bold ☞';
}

.accordion-button:not(.collapsed) {
  border-radius: 1rem 1rem 0 0!important;
}

#accordion-1 .accordion-button:not(.collapsed) {
  border-radius: 1rem!important;
  background-color: #fbfbfb!important;
}

.modal-body {
  overflow-x: hidden;
}

.forprofileimage input[type="file"] {
  display: none;
}

@media (max-width: 768px) {
  .asilyazibolumu {
    padding: 35px 25px 25px 25px;
  }
}

@media (max-width: 768px) {
  .asilyazibolumu2 {
    padding: 35px 25px 25px 25px;
  }
}

@media (min-width: 768px) {
  .asilyazibolumu {
    padding: 6px 100px 100px 100px;
  }
}

@media (min-width: 768px) {
  .asilyazibolumu2 {
    padding: 57px 100px 100px 100px;
  }
}

.yazi h2 {
  font-family: 'Gilroy-Bold ☞';
  margin-top: 2rem;
}

.yazi h3 {
  font-family: 'Gilroy-Bold ☞';
  margin-top: 2rem;
}

.logged .hesappanellink {
  display: flex;
  margin-left: 2rem;
}

.transparentfooter .footer-basic {
  background: none;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .anaalan {
    text-align: center;
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .anaalan {
    text-align: center;
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .anaalan img {
    width: 123px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .anaalan img {
    width: 90px;
    margin-bottom: 1rem;
  }
}

.nav-item {
  display: grid;
  align-items: center;
}

@media (max-width: 768px) {
  .mobildeortalanacak {
    text-align: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .mobildeortalanacak {
    text-align: end;
    justify-content: end;
  }
}

@media (max-width: 576px) {
  .basliklogo {
    display: none;
  }
}

@media (max-width: 576px) {
  .createpage {
    padding: 0;
  }
}

